

.nav-bar {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 10px;
  margin: 10px;

}

.nav-bar a {
  text-decoration: none;
  background-color: #f2f2f2;
  color: #000;
  padding: 12px;
  margin: 4px 0;
  text-align: center;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  text-align: left;
  padding-left: 20px;
  
}
.nav-bar h2{
  background-color: #2b7a78;
  padding: 8px;
  color: #ffffff;
}

.nav-bar a:hover {
  background-color: #2b7a78;
  color: white;
}
@media (max-width: 500px) {
  body {
    padding: 10px;
    width: 100%;
    text-align: center;
  }

  .nav-bar {
    width: 100%;
    text-align: center;
  }

  .nav-bar a {
    font-size: 16px;
    padding: 12px;
  }
}
@media (max-width: 1197px) {
  body {
    padding: 10px;
    width: 100%;
    text-align: center;
  }

  .nav-bar {
    width: 100%;
  }

  .nav-bar a {
    font-size: 16px;
    padding: 12px;
    text-align: center;
  }
}