form {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form input, form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

form input[type="file"] {
    padding: 3px;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #45a049;
}


@media (max-width: 480px) {
  form {
    padding: 15px;
  }

  form input,
  form textarea {
    font-size: 14px;
    padding: 8px;
  }

  form button {
    font-size: 16px;
    padding: 10px;
  }
}